
.default{
    border: none;
    padding: 10px 15px;
    color: green;
    background-color: #fff;
    border: 1.5px solid green;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.active{
    border: none;
    padding: 10px 15px;
    color:white;
    background-color: green;
    border: 1.5px solid green;
}